<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-devide-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'yssync/styles2.css' %}">

    {% load static %}
    <script type="text/javascript" src="{% static 'yssync/jquery-3.5.1.min.js' %}"></script>
    <title>Youtube Spotiify Sync</title>
</head>

<body class="full-height-grow">

    <div id="current-playlist-id" class="current-playlist" data-playlist="NULL"></div>


    <header class="main-header">
        <div class=left-header>
            <img class="burger-menu" id="burger-icon" src="{% static 'yssync/burger.png' %}" height="25" width="20">
            <a href="/" class="brand-logo">
                {% load static %}
                <img class="logo-file" src="{% static  'yssync/spotify.png'  %}" height="30" width="30">
                <div class="brand-logo-name">Switch to spotify</div>
            </a>
        </div>

        <a href="/" class="brand-logo">
            {% load static %}
            <img class="logo-file" src="{% static  'yssync/logo.png'  %}" height="40" width="40">
            <div class="brand-logo-name">Yolocobi Crafts</div>
        </a>

        <div class=right-header>
            {% load static %}
            <nav class="main-nav">
                <ul>
                    <img class="logo-file picture-circle" src="{% static  'yssync/gear.png'  %}" height="35" width="35">
                    <img class="logo-file picture-circle" src="{{userpicture}}" height="35" width="35">
                </ul>
        </div>
    </header>


    <div id="app-body-container-id" class="app-body-container">
        <div id="app-body-menu-id" class="app-body-menu-container">

            <div id="main-menu-id" class="app-body-menu-list">

                <div class="item-hover selected" id="my-playlist" data-hidden-id-info="hidden-my-playlist"
                    data-hidden-playlist-id="playlist-list-id">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image" src="{% static  'yssync/playlist.png'  %}" height="30"
                            width="30">
                        <div> My playlists</div>
                    </div>
                    <div class="hidden hidden-item" id="hidden-my-playlist">
                        <img class="picture-circle" src="{{userpicture}}" height="70" width="70">
                        <div class="user-name">{{username}}</div>
                        <span class="user-playlists">(Playlists: 5)</span>
                    </div>
                </div>

                <div class="item-hover " id="url-append" data-hidden-id-info="hidden-url-append"
                    data-hidden-playlist-id="url-list-id">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image picture-circle" src="{% static  'yssync/url.png'  %}"
                            height="30" width="30">
                        <div> Add playlist by URL</div>
                    </div>
                    <div class="hidden hidden-item" id="hidden-url-append">
                        <input id="searchInput" type="text">
                        <button id="url-search-button" class="url-append-button button-item button-input"
                            type="submit">+</button>
                    </div>
                </div>

                <div class="item-hover" id="ignored-list" data-hidden-id-info="null">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image picture-circle" src="{% static  'yssync/ignored.png'  %}"
                            height="30" width="30">
                        <div> Ignored items</div>
                    </div>
                </div>

                <div class="item-hover" id="app-info" data-hidden-id-info="hidden-app-info">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image picture-circle" src="{% static  'yssync/info.png'  %}"
                            height="30" width="30">
                        <div> Information</div>
                    </div>
                    <div class="hidden hidden-item" id="hidden-app-info">
                        <a class="hidden-a" href="/">FAQ</a>
                        <a class="hidden-a" href="/">Tutorial</a>
                        <a class="hidden-a" href="/">About us</a>
                    </div>
                </div>

            </div>

            <div id="second-menu-id" class="app-body-menu-list-shrink menu-hidden">

                <div class="item-hover" id="my-playlist" data-hidden-id-info="hidden-my-playlist"
                    data-hidden-playlist-id="playlist-list-id">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image" src="{% static  'yssync/playlist.png'  %}" height="30"
                            width="30">
                    </div>
                </div>

                <div class="item-hover " id="url-append" data-hidden-id-info="hidden-url-append"
                    data-hidden-playlist-id="url-list-id">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image picture-circle" src="{% static  'yssync/url.png'  %}"
                            height="30" width="30">
                    </div>
                </div>

                <div class="item-hover" id="ignored-list" data-hidden-id-info="null">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image picture-circle" src="{% static  'yssync/ignored.png'  %}"
                            height="30" width="30">
                    </div>
                </div>

                <div class="item-hover" id="app-info" data-hidden-id-info="hidden-app-info">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image picture-circle" src="{% static  'yssync/info.png'  %}"
                            height="30" width="30">
                    </div>
                </div>

            </div>

        </div>

        <div class="app-body-playlists-container">

            <form id="form-id">

                <div id="playlist-list-id" class="playlist-list">

                    <div class="youtube-list-header">
                        <div class="checkbox-listitem">
                            <div>Select all</div>
                            <input class="youtube-playlist-itemlist playlist-ckeckbox-input" type="checkbox"
                                id="select-all-playlist" data-checkbox-class="playlist-item-checkbox">
                            <label for="select-all-playlist"></label>
                        </div>
                    </div>

                    <ul class="youtube-playlist-item-list">
                        {% for item in listitem %}

                        <li class="youtube-list-item-element">
                            <div class="youtube-list-item" id="{{item.0}}">

                                <img class="youtube-list-picture youtube-playlist-itemlist" src="{{item.2}}" />

                                <div class="youtube-playlist-itemlist">
                                    <ul>
                                        <li>
                                            <div> {{item.1}} </div>
                                        </li>
                                        <li>
                                            <div> {{item.3}} <span> Videos</span></div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="checkbox-listitem">
                                    <input class="youtube-playlist-itemlist playlist-checkbox playlist-item-checkbox"
                                        type="checkbox" id="{{item.1}}" name="{{item.1}}" value="{{item.0}}">
                                    <label for="{{item.1}}"></label>
                                </div>

                            </div>
                        </li>

                        {% endfor %}
                    </ul>
                </div>

                <div id="url-list-id" class="playlist-list playlist-hidden">
                    <div class="youtube-list-header">
                        <div class="checkbox-listitem">
                            <div>Select all</div>
                            <input class="youtube-playlist-itemlist playlist-ckeckbox-input" type="checkbox"
                                id="select-all-url" data-checkbox-class="url-item-checkbox">
                            <label for="select-all-url"></label>
                        </div>
                    </div>

                    <ul id="url-append-list" class="youtube-playlist-item-list">


                    </ul>
                </div>


            </form>
        </div>


        <div class="app-body-videos-container">

            <div class="youtube_videos_navigation_section">
                <nav class="youtube_videos_navigation_bar">
                    <div data-page="NULL" class="arrow" id="prev-page">&lt;</div>
                    <div data-page="NULL" class="arrow" id="next-page">&gt;</div>
                </nav>
            </div>

            <ul id="youtube-video-list-id" class="youtube-video-item-list">

            </ul>

        </div>

    </div>


    <div id="sync-button" class="sync-button-footer">
        <button id="sync-button-item" type="submit" class="button-item button-sync button-input"> SYNC </button>
    </div>

    <footer class="main-footer">
        <div class="container">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#"> About us </a></li>
                    <li><a href="#"> Contact </a></li>
                </ul>
            </nav>
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="#" class="social-link">
                            <img class="picture-circle footer-picture"
                                src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
                            Github
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-link">
                            <img class="picture-circle footer-picture"
                                src="https://cdn.blog.st-hatena.com/images/common/logo-icon.svg">
                            hatena
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>


    <div id="modal-id" class="modal">

        <div class="tooltip-wrapper">

            <div class="modal-header">
                <button id="close-button-id" class="close-button">&times;</button>
            </div>
            <div class="modal-body">
                <ul id="modal-list-id" class="modal-list">
                </ul>
            </div>
        </div>

    </div>



    {% block js %}
    <script>
        $(function () {

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            document.getElementById("sync-button").addEventListener("click", function () {

                if (document.getElementById("sync-button-item").className == 'button-item button-sync button-input') {
                    spotifyLogin();
                }
                else {
                    abortAjax();
                }
                return false;
            });

            document.getElementById("close-button-id").addEventListener("click", function () {
                document.getElementById("modal-id").classList.remove('active');
            });

            window.addEventListener("storage", syncPlaylists);

            function spotifyLogin() {
                var SPOTIPY_CLIENT_ID = "0693e474b35d441987e83f0de3c6fa85"
                var SPOTIPY_REDIRECT_URI = "http://localhost:8000/yssync/callback/"
                var spotifyScope = "playlist-modify-public"
                var spotifyAuthEndpoint = "https://accounts.spotify.com/authorize?" + "client_id=" + SPOTIPY_CLIENT_ID + "&redirect_uri=" + SPOTIPY_REDIRECT_URI + "&scope=" + spotifyScope + "&response_type=token&state=123";
                var wnd = window.open(spotifyAuthEndpoint, 'callBackWindow', 'height=500,width=400');
            }

            document.getElementById("burger-icon").addEventListener("click", function () {
                hideMenu();
                return false;
            });

            function hideMenu() {
                if (document.getElementById("main-menu-id").className == 'app-body-menu-list') {
                    document.getElementById("main-menu-id").className = 'app-body-menu-list menu-hidden';
                    document.getElementById("second-menu-id").className = 'app-body-menu-list-hidden';
                }
                else {
                    document.getElementById("main-menu-id").className = 'app-body-menu-list';
                    document.getElementById("second-menu-id").className = 'app-body-menu-list-hidden menu-hidden';
                }
            }

            function insertAfter(referenceNode, newNode) {
                referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
            }

            function syncPlaylists(event) {
                if (event.key == "accessToken") {

                    var el = document.createElement("div");
                    el.className = "dark-screen"
                    el.id = "dark-screen-id"
                    var div = document.getElementById("sync-button");
                    insertAfter(div, el);
                    document.getElementById("modal-id").classList.remove("active");

                    $("#dark-screen-id").append(
                        '<div class="loading-item">' +
                        '<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>' +
                        '<div class="sync-label sync-info">This may take a while</div>' +
                        '<div class="sync-label wait-info">Synchronizing</div>' +
                        '</div>'
                    );

                    var spAccessToken = event.newValue;
                    var playlistForm = document.getElementById("form-id");
                    var playlistFormData = new FormData(playlistForm);
                    playlistFormData.append('accessToken', spAccessToken);

                    xhr = $.ajax({
                        url: "http://localhost:8000/yssync/ajax/",
                        type: 'post',
                        beforeSend: function (request) {
                            request.setRequestHeader('X-CSRFToken', csrftoken);
                        },
                        data: playlistFormData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            el.remove();
                            document.getElementById("modal-id").classList.add("active");
                            var json_data = JSON.parse(response);

                            var list = document.getElementById("modal-list-id");
                            while (list.firstChild) {
                                list.removeChild(list.firstChild);
                            }

                            Object.keys(json_data).forEach(function (key) {
                                $("#modal-list-id").append(
                                    '<li>' +
                                    '<div class="list-name">' + key + '</div>' +
                                    '<div class="list-status ' + json_data[key] + ' "></div>' +
                                    '</li>'
                                );
                            })
                        },
                    });
                }
            }

            $(document).ready(function () {
                var xhr;
                document.getElementById("my-playlist").className = 'selected item-hover';
                document.getElementById("hidden-my-playlist").className = 'shown hidden-item';
                document.getElementById("playlist-list-id").className = 'playlist-list';

                var elements = document.getElementsByClassName(checkboxClass);
                for (var i = 0; i < elements.length; i++) {
                    elements[i].checked = false;
                };
            });

            var inputs = document.getElementsByClassName('playlist-ckeckbox-input');
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener("click", function () { selectAllCheckbox(this.id, this.getAttribute('data-checkbox-class')); return false; });
            }

            function selectAllCheckbox(id, checkboxClass) {
                var elements = document.getElementsByClassName(checkboxClass);
                if (document.getElementById(id).checked) {
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].checked = true;
                    };
                } else {
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].checked = false;
                    };
                }
            }

           


            var inputs = document.getElementsByClassName('item-hover');
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener("click", function () { SelectItems(this.id, this.getAttribute('data-hidden-id-info'), this.getAttribute('data-hidden-playlist-id')) });
            }

            function SelectItems(id, childId, playlistId) {
                alert(id);
                clearSelected(id);
                document.getElementById(id).className = 'selected item-hover';
                document.getElementById(childId).className = 'shown hidden-item';
                if (id != "app-info" && id != "ignored-list") {
                    document.getElementById(playlistId).className = 'playlist-list';
                }
            };


            function clearSelected(id) {

                var elements = document.getElementsByClassName('selected');
                for (var i = 0; i < elements.length; i++) {
                    elements[i].className = 'item-hover';
                };

                var elements = document.getElementsByClassName('shown');
                for (var i = 0; i < elements.length; i++) {
                    elements[i].className = 'hidden hidden-item';
                };

                if (id != "app-info" && id != "ignored-list") {
                    var elements = document.getElementsByClassName('playlist-list');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].className = 'playlist-list playlist-hidden';
                    };
                }
            }


            var playlistInputs = document.getElementsByClassName('youtube-list-item');
            for (var i = 0; i < playlistInputs.length; i++) {
                playlistInputs[i].addEventListener("click", function () { SelectPlaylistItems(this.id) });
            }

            function clearPlaylistsSelected() {
                var elements = document.getElementsByClassName('playlist-selected');
                for (var i = 0; i < elements.length; i++) {
                    elements[i].className = 'youtube-list-item';
                };
            }

            function SelectPlaylistItems(id) {
                clearPlaylistsSelected();
                document.getElementById(id).className = 'playlist-selected youtube-list-item';
                feedVideoList(id);
                var currentPlaylist = document.getElementById("current-playlist-id");
                currentPlaylist.setAttribute("data-playlist", id);
            };

            var arrows = document.getElementsByClassName("arrow");
            for (var i = 0; i < arrows.length; i++) {
                arrows[i].addEventListener("click", function () { goToPage(this.getAttribute("data-page")); });
            };

            function goToPage(pageData) {
                var currentPlaylist = document.getElementById("current-playlist-id").getAttribute("data-playlist");
                ajaxSender(currentPlaylist, pageData);
            };

            function feedVideoList(playlist_id) {
                var goTo = "NULL";
                ajaxSender(playlist_id, goTo);
            };

            function ajaxSender(playlist_id, goTo) {

                var ul = document.getElementById("youtube-video-list-id");
                while (ul.firstChild) ul.removeChild(ul.firstChild);
                $("#youtube-video-list-id").append(
                    '<div id="loading-videos-id" class="loading-videos-icon">' +
                    ' <div>Loading</div>' +
                    '<div class="loading-dots loading-dots-1">.</div>' +
                    '<div class="loading-dots loading-dots-2">.</div>' +
                    '<div class="loading-dots loading-dots-3">.</div>' +
                    '  </div>'
                );

                document.getElementById("prev-page").classList.remove("active-arrow");
                document.getElementById("next-page").classList.remove("active-arrow");

                $.ajax({
                    url: "http://localhost:8000/yssync/ajax_videos/",
                    type: 'post',
                    beforeSend: function (request) {
                        request.setRequestHeader('X-CSRFToken', csrftoken);
                    },
                    data: { playListId: playlist_id, goto_page: goTo },
                    success: function (data) {

                        if (data == "NULL") {
                            alert("Enlace no válido")
                        }
                        else {
                            var json_data = JSON.parse(data);

                            var loadingItem = document.getElementById("loading-videos-id");
                            loadingItem.remove();

                            if (json_data["prev_page"] != "NULL") {
                                var prevPageItem = document.getElementById("prev-page");
                                prevPageItem.classList.add("active-arrow");
                                prevPageItem.setAttribute("data-page", json_data["prev_page"]);
                            }

                            if (json_data["next_page"] != "NULL") {
                                var nextPageItem = document.getElementById("next-page");
                                nextPageItem.classList.add("active-arrow");
                                nextPageItem.setAttribute("data-page", json_data["next_page"]);
                            }

                            for (i = 0; i < json_data["videos"].length; i++) {
                                $("#youtube-video-list-id").append(
                                    '<li>' +
                                    '<div class="youtube-video-item youtube-item" id="' + json_data["videos"][i][0] + '">' +
                                    '<img class="youtube-video-picture youtube-video-itemlist"' +
                                    'src="' + json_data["videos"][i][2] + '" />' +

                                    '<div class="youtube-video-itemlist">' +
                                    '<ul>' +
                                    '<li>' +
                                    '<div class="itemlist-title" > ' + json_data["videos"][i][1] + ' </div>' +
                                    '</li>' +
                                    '</ul>' +
                                    '</div>' +
                                    '<div class="checkbox-listitem">' +
                                    ' <button data-video-id="' + json_data["videos"][i][0] + '" class="ignore-button-item"type="button">IGNORE</button> ' +
                                    '</div>' +
                                    '</div>' +

                                    '</li>'
                                );
                            }
                        }

                        var arrows = document.getElementsByClassName("ignore-button-item");
                        for (var i = 0; i < arrows.length; i++) {
                            arrows[i].addEventListener("click", function () { 
/*
                                alert(this.getAttribute("data-video-id")); 
                                var videoItem = this.closest(".youtube-item");
                                alert(videoItem.id);
*/
                                });
                        };

                        

                    },
                });
            };

            document.getElementById("url-search-button").onclick = function () { verifyPlaylist(); };

            function verifyPlaylist() {
                var urlInfo = document.getElementById("searchInput");
                var urlName = urlInfo.value.split("=").pop();
                var elementExists = document.getElementById(urlName);


                if (elementExists) {
                    alert("Playlist already added");
                }
                else {
                    sendUrlInfo(urlName);
                }
            }

            function sendUrlInfo(urlName) {
                var urlInfo = document.getElementById("searchInput");

                $.ajax({
                    url: "http://localhost:8000/yssync/ajax_url/",
                    type: 'post',
                    beforeSend: function (request) {
                        request.setRequestHeader('X-CSRFToken', csrftoken);
                    },
                    data: { playListURL: urlName },
                    success: function (data) {

                        if (data == "NULL") {
                            alert("Enlace no válido")
                        }
                        else {
                            var json_data = JSON.parse(data);

                            $("#url-append-list").append(
                                '<li class="youtube-list-item-element">' +
                                '<div class="youtube-list-item" id="' + json_data["id"] + '">' +

                                '<img class="youtube-list-picture youtube-playlist-itemlist" src="' + json_data["thumbnail"] + '" />' +

                                '<div class="youtube-playlist-itemlist">' +
                                '<ul>' +
                                '<li>' +
                                '<div> ' + json_data["title"] + ' </div>' +
                                '</li>' +
                                '<li>' +
                                '<div> ' + json_data["counter"] + ' <span>Videos </span></div>' +
                                '</li>' +
                                '</ul>' +
                                '</div>' +

                                '<div class="checkbox-listitem">' +
                                '<input class="youtube-playlist-itemlist playlist-checkbox url-item-checkbox" type="checkbox" checked id="' + json_data["title"] + '" name="' + json_data["title"] + '" value="' + json_data["id"] + '">' +
                                '<label for="' + json_data["title"] + '"></label>' +
                                '</div>' +

                                '</div>' +
                                '</li>'
                            );

                            var playlistInputs = document.getElementsByClassName('youtube-list-item');
                            for (var i = 0; i < playlistInputs.length; i++) {
                                playlistInputs[i].addEventListener("click", function () { SelectPlaylistItems(this.id) });
                            }
                        }
                    },
                });
            }

        });
    </script>
    {% endblock %}

</body>

</html>