<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-devide-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>

    <script>
        function start() {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '125100192294-a23qgdu7mv0volo8fsb1j8tj113jp9i0.apps.googleusercontent.com',
                    scope: 'https://www.googleapis.com/auth/youtube.readonly'
                });
            });
        }
    </script>


    {% load static %}
    <script src="{% static 'yssync/general.js' %}" ></script>
    <script src="{% static 'yssync/dictionary.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'yssync/styles2.css' %}">
    <script type="text/javascript" src="{% static 'yssync/jquery-3.5.1.min.js' %}"></script>
    <title>YSSYNC - Youtube Spotiify Sync</title>
</head>

<body class="full-height-grow">

    <div id="current-playlist-id" class="current-playlist" data-playlist="NULL"></div>

    <header class="main-header">
        <div class=left-header>
            <img class="burger-menu" src="{% static 'yssync/burger.png' %}" height="25" width="20">
            <a href="/" class="brand-logo">
                {% load static %}
                <img class="logo-file" src="{% static  'yssync/spotify.png'  %}" height="30" width="30">
                <div class="brand-logo-name" data-translate-text>Switch to Spotify</div>
            </a>
        </div>

        <a href="/" class="brand-logo">
            <div class="logo-title">YSSYNC</div>
        </a>

        <div class=right-header>
            {% load static %}
            <nav class="main-nav">
                <ul class="header-item-list">

                    <li>
                        <img id="English" data-close="false" data-option-target="#user-language-menu-id"
                            class="language" src="{% static  'yssync/english.png'  %}" height="35" width="35">

                        <img id="Japanese" data-close="false" data-option-target="#user-language-menu-id"
                            class="language" src="{% static  'yssync/japanese.png'  %}" height="35" width="35">

                        <img id="Spanish" data-close="false" data-option-target="#user-language-menu-id"
                            class="language" src="{% static  'yssync/spanish.png'  %}" height="35" width="35">
                    </li>

                    <li><img id="data-settings-img-id" data-close="false" data-option-target="#user-settings-menu-id"
                            class="logo-file picture-circle gear-icon" src="{% static  'yssync/gear.png'  %}"
                            height="35" width="35"></li>
                    <li>
                        <img id="data-option-img-id" data-close="false" data-option-target="#user-option-menu-id"
                            class="picture-circle user-option-icon" src="{{userpicture}}" height="35" width="35">

                        <div id="user-option-menu-id" class="user-option-menu">
                            <div class="info-item">
                                <img class="picture-circle info-picture-user" src="{{userpicture}}" height="35"
                                    width="35">
                                <div>{{username}}</div>
                            </div>
                            
                            <div class="info-item info-option">
                                <img class="info-picture-user" src="{% static  'yssync/logout.png'  %}" height="20"
                                    width="20">
                                <div id="log-out"data-translate-text class="option-text">Log out</div>
                            </div>

                            
                            <div class="info-item info-option">
                                <img class="info-picture-user" src="{% static  'yssync/refresh.png'  %}" height="20"
                                    width="20">
                                <div id="change-user" data-translate-text class="option-text">Change user</div>
                            </div>


                        </div>

                        <div id="user-settings-menu-id" class="user-option-menu">
                            <div class="info-item language-info">
                                <div data-translate-text>Settings</div>
                            </div>
                            <div data-hidden class="info-item info-option">
                                <div data-translate-text class="option-text hidden-text">Comming soon...</div>
                            </div>
                            <div id="dark-mode-option" class="info-item info-option">
                                <img class="info-picture-user" src="{% static  'yssync/mode.png'  %}" height="20"
                                    width="20">
                                <div data-translate-text class="option-text">Dark mode</div>
                                <div class="dark-mode-bar">
                                    <div class="dark-mode-item"></div>
                                </div>
                            </div>
                        </div>

                        <div id="user-language-menu-id" class="user-option-menu">
                            <div class="info-item language-info">
                                <div data-translate-text>Choose your language</div>
                            </div>
                            <div data-translation="English" class="info-item info-option">
                                <img class="language-icon" id="data-language-img-id"
                                    src="{% static  'yssync/english.png'  %}" height="20" width="20">
                                <div data-translate-text>English</div>
                            </div>
                            <div data-translation="Japanese" class="info-item info-option">
                                <img class="language-icon" id="data-language-img-id"
                                    src="{% static  'yssync/japanese.png'  %}" height="20" width="20">
                                <div data-translate-text>Japanese</div>
                            </div>
                            <div data-translation="Spanish" class="info-item info-option">
                                <img class="language-icon" id="data-language-img-id"
                                    src="{% static  'yssync/spanish.png'  %}" height="20" width="20">
                                <div data-translate-text>Spanish</div>
                            </div>
                        </div>

                    </li>
                </ul>
        </div>
    </header>


    <div id="app-body-container-id" class="app-body-container">
        <div id="app-body-menu-id" class="app-body-menu-container">

            <div id="main-menu-id" class="menu-list">

                <div class="user-info-main">
                    <div>
                        <img class="picture-circle" src="{{userpicture}}" height="120" width="120">
                        <div class="user-name">{{username}}</div>
                    </div>
                </div>


                <div class="item-hover selected" id="my-playlist" data-hidden-id-info="hidden-my-playlist"
                    data-hidden-playlist-id="playlist-list-id">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image" src="{% static  'yssync/playlist.png'  %}" height="30"
                            width="30">
                        <div data-translate-text>My playlists</div>
                    </div>
                    <div class="hidden hidden-item" id="hidden-my-playlist">
                        <span class="user-playlists">(Playlists: {{itemCount}})</span>
                    </div>
                </div>

                <div class="item-hover " id="url-append" data-hidden-id-info="hidden-url-append"
                    data-hidden-playlist-id="url-list-id">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image picture-circle" src="{% static  'yssync/url.png'  %}"
                            height="30" width="30">
                        <div data-translate-text>Add playlist by URL</div>
                    </div>
                    <div class="hidden hidden-item" id="hidden-url-append">
                        <input id="searchInput" type="text">
                        <button class="url-append-button button-item button-input"
                            type="submit">+</button>
                    </div>
                </div>

                <div class="item-hover" id="ignored-list" data-modal-target="#modal-ignored-id"
                    data-hidden-id-info="noitem">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image picture-circle" src="{% static  'yssync/ignored.png'  %}"
                            height="30" width="30">
                        <div data-translate-text>Ignored items</div>
                    </div>
                </div>

                <div class="item-hover" id="app-info" data-hidden-id-info="hidden-app-info">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image picture-circle" src="{% static  'yssync/info.png'  %}"
                            height="30" width="30">
                        <div data-translate-text>Information</div>
                    </div>
                    <div class="hidden hidden-item hidden-info" id="hidden-app-info">
                        <div data-modal-target="#modal-faq-id">FAQ</div>
                        <div data-modal-target="#modal-tutorial-id">Tutorial</div>
                        <div data-translate-text data-modal-target="#modal-about-id">About us</div>
                    </div>
                </div>

            </div>

            <div id="second-menu-id" class="menu-list-shrink hidden">

                <div class="item-hover" id="my-playlist" data-hidden-id-info="hidden-my-playlist"
                    data-hidden-playlist-id="playlist-list-id">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image" src="{% static  'yssync/playlist.png'  %}" height="30"
                            width="30">
                    </div>
                </div>

                <div class="item-hover " id="url-append" data-hidden-id-info="hidden-url-append"
                    data-hidden-playlist-id="url-list-id">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image picture-circle" src="{% static  'yssync/url.png'  %}"
                            height="30" width="30">
                    </div>
                </div>

                <div class="item-hover" id="ignored-list" data-modal-target="#modal-ignored-id"
                    data-hidden-id-info="null">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image picture-circle" src="{% static  'yssync/ignored.png'  %}"
                            height="30" width="30">
                    </div>
                </div>

                <div class="item-hover" id="app-info" data-hidden-id-info="hidden-app-info">
                    <div class="app-body-menu-list-item">
                        <img class="app-menu-item-image picture-circle" src="{% static  'yssync/info.png'  %}"
                            height="30" width="30">
                    </div>
                </div>

            </div>

        </div>

        <div class="app-body-playlists-container">

            <form id="form-id">

                <div id="playlist-list-id" class="playlist-list">

                    <div class="youtube-list-header">
                        <div class="checkbox-listitem">
                            <div data-translate-text>Select all</div>
                            <input class="youtube-playlist-itemlist playlist-checkbox-input" type="checkbox"
                                id="select-all-playlist" data-checkbox-class="playlist-item-checkbox">
                            <label for="select-all-playlist"></label>
                        </div>
                    </div>

                    <ul class="youtube-playlist-item-list">
                        {% for item in listitem %}

                        <li class="youtube-list-item-element">
                            <div class="youtube-list-item" id="{{item.0}}">

                                <img class="youtube-list-picture youtube-playlist-itemlist" src="{{item.2}}" />

                                <div class="youtube-playlist-itemlist">
                                    <ul>
                                        <li>
                                            <div> <a target="_blank"
                                                    href="https://www.youtube.com/playlist?list={{item.0}}"> {{item.1}}
                                                </a></div>
                                        </li>
                                        <li>
                                            <div> {{item.3}} <span>Videos</span></div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="checkbox-listitem">
                                    <input data-checkbox
                                        class="youtube-playlist-itemlist playlist-checkbox playlist-item-checkbox"
                                        type="checkbox" id="{{item.1}}" name="{{item.1}}" value="{{item.0}}">
                                    <label for="{{item.1}}"></label>
                                </div>

                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="url-list-id" class="playlist-list hidden">
                    <div class="youtube-list-header">
                        <div class="checkbox-listitem">
                            <div data-translate-text>Select all</div>
                            <input class="youtube-playlist-itemlist playlist-checkbox-input" type="checkbox"
                                id="select-all-url" data-checkbox-class="url-item-checkbox">
                            <label for="select-all-url"></label>
                        </div>
                    </div>

                    <ul id="url-append-list" class="youtube-playlist-item-list">


                    </ul>
                </div>


            </form>
        </div>


        <div class="app-body-videos-container">

            <div class="youtube_videos_navigation_section">
                <nav class="youtube_videos_navigation_bar">
                    <div data-page="NULL" class="arrow" id="prev-page">&lt;</div>
                    <div data-page="NULL" class="arrow" id="next-page">&gt;</div>
                </nav>
            </div>


            <div id="loading-videos-id" class="loading-videos-icon">
                <div data-translate-text>Loading</div>
                <div class="loading-dots loading-dots-1">.</div>
                <div class="loading-dots loading-dots-2">.</div>
                <div class="loading-dots loading-dots-3">.</div>
            </div>

            <ul id="youtube-video-list-id" class="youtube-video-item-list">
            </ul>

        </div>

    </div>

    <div class="sync-button-footer">
        <button data-translate-text class="button-item button-sync button-input">SYNC</button>
    </div>


    <div id="dark-screen-id" class="dark-screen"></div>

    <div id="loading-item-id" class="loading-item">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div data-translate-text class="sync-label sync-info">Synchronizing</div>
        <div data-translate-text class="sync-label wait-info">This may take a while</div>
    </div>


    <div class="modal modal-center modal-ignored" id="modal-ignored-id">
        <div class="modal-ignored-header header-ignored">
            <div data-translate-text>Ignored items:</div>
            <button data-close-button class="close-button">
                <div>&times;</div>
            </button>
        </div>
        <div class="modal-body ignore-body">
            <ul id="modal-ignored-list-id" class="modal-list">
                <div id="ignore-message-id" class="ignored-message ignored-video-list-item active">
                    <div data-translate-text>No ignored videos</div>
                </div>
            </ul>
        </div>
    </div>

    <div id="modal-tutorial-id" class="modal modal-center modal-tutorial">
        <div data-close-button class="close-button">
            <div>&times;</div>
        </div>
        <div class="modal-tutorial-image">
            <div id="image-1" class="tutorial-image active"><img class="tutorial-image-item"
                    src="{% static  'yssync/1.png'  %}"></div>
            <div id="image-2" class="tutorial-image"><img class="tutorial-image-item"
                    src="{% static  'yssync/2.png'  %}"></div>
            <div id="image-3" class="tutorial-image"><img class="tutorial-image-item"
                    src="{% static  'yssync/3.png'  %}"></div>
            <div id="image-4" class="tutorial-image"><img class="tutorial-image-item"
                    src="{% static  'yssync/4.png'  %}"></div>
            <div id="image-5" class="tutorial-image"><img class="tutorial-image-item"
                    src="{% static  'yssync/5.png'  %}"></div>
        </div>
        <div class="modal-tutorial-instruction">
            <div data-translate-text class="instruction active">My playlist section lets you use the playlists in your Youtube channel. Alternatively, you can paste the URL of the playlist you want to migrate to Spotify in the 'Add playlist by URL' section.</div>
            <div data-translate-text class="instruction">By clicking an item in the playlist section, you can see the videos included on each playlist. You can also click the IGNORE button on each video to exclude it in the synchronization process.</div>
            <div data-translate-text class="instruction">Click the checkbox of the playlist you want to synchronize to your Spotify account. Once you've chosen the playlists you want to synchronize, it's time to click the SYNC button to start the process.</div>
            <div data-translate-text class="instruction">You can check your ignored videos any time just by clicking on the Ignored items section. You can revert the ignored videos' status by clicking the UNDO button on each video.</div>
            <div data-translate-text class="instruction">Once the process is complete, a box with the process' results will show up, and that's all! Please enjoy your music.</div>
        </div>
        <div class="modal-tutorial-arrows">
            <button data-translate-text class="left">Prev</button>
            <button data-translate-text class="right active">Next</button>
        </div>
    </div>

    <div id="modal-about-id" class="modal modal-center modal-about">
        <div data-close-button class="close-button">
            <div>&times;</div>
        </div>
        <div data-translate-text class="modal-about-header center-item" >Thank you for using YSSYNC</div>
        <div class="modal-about-body center-item">
            <div data-translate-text>Yolocobi Crafts is a project focused on multimedia, arts, and programming. Our goal is to create compelling projects along with tutorials that can be accessed by anyone. We want our users to enjoy our products and get interested in our projects and learn from them as we develop our abilities. We try every day to master new aspects of the latest technology and make an effort to share our knowledge. Yolocobi Crafts is the result of our team doing their best.</div>
        </div>
        <div class="modal-about-footer">
            <a href="/">Hatena blog</a>
            <a href="/">Github</a>
            <a href="/">Yolocobi crafts</a>
        </div>
    </div>

    <div id="modal-faq-id" class="modal modal-center modal-faq">
        <div class="modal-faq-header">
            <div data-translate-text>Frequent asked questions:</div>
            <button data-close-button class="close-button">
                <div>&times;</div>
            </button>
        </div>
        <div class="modal-faq-body">
            <ul>
                <li>
                    <div data-translate-text class="question">What is YSSYNC?</div>
                    <div data-translate-text class="answer">YSSYNC (Youtube-Spotify Synchronizer) is a web application that lets you synchronize your Youtube playlists to Spotify. You can select many playlists at the same time, use URL playlists, and specify videos you don't want to sync from your playlists.</div>
                </li>

                <li>
                    <div  data-translate-text class="question">Wich videos am I able to sync?</div>
                    <div data-translate-text class="answer">You can sync a Youtube video as long as it is identified as a song by Youtube. You can tell by checking the description of the video on Youtube and verifying if it has official information about the song. Usually, automatically-made videos can be synchronized.</div>
                </li>

                <li>
                    <div data-translate-text class="question">What information does YSSYNC get from me?</div>
                    <div data-translate-text  class="answer">YSSYNC can get access to information from your Youtube account and your Spotify account. You grant it access to information such as playlists, videos, and identification data such as your profile information. YSSYNC can't obtain personal information from your Google account, either from your Spotify account.</div>
                </li>

                <li>
                    <div data-translate-text class="question">How does YSSYNC work?</div>
                    <div data-translate-text class="answer">YSSYNC retrieves video information from the playlist you select in the application, then, it creates a new playlist in your Spotify account and proceeds to fulfill it with the videos within the previously selected Youtube playlists.</div>
                </li>

                <li>
                    <div data-translate-text class="question">Can I modify my Youtube account from YSSYNC?</div>
                    <div data-translate-text class="answer">No. You can not delete, create, or modify Youtube elements in the YSSYNC app. There is no risk of deleting valuable data. However, you can create new Spotify playlists with the application.</div>
                </li>

                <li>
                    <div data-translate-text class="question">Can I update a Youtube playlist that I already have in Spotify?</div>
                    <div data-translate-text class="answer">Yes, you can. You can add songs to an already synchronized playlist in Youtube, and it will be updated when you synchronize it again. YSSYNC will add the new songs to spotify, but won't delete the ones already there.</div>
                </li>

                <li>
                    <div data-translate-text class="question">Why is YSSYNC unable to synchronize my Youtube playlist?</div>
                    <div data-translate-text class="answer">YSSYNC is unable to synchronize empty playlists. Youtube videos that aren't officially identified as songs by Youtube are ignored by YSSYNC. A playlist made entirely by non-song videos is considered an empty playlist by YSSYNC.</div>
                </li>
            </ul>
        </div>
    </div>
<footer class="main-footer">
    <div class="container">
        <nav class="footer-nav">
            <ul>
                <li><a data-translate-text href="#">About us</a></li>
                <li><a data-translate-text href="#">Contact</a></li>
            </ul>
        </nav>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="#" class="social-link">
                        <img class="picture-circle footer-picture"
                            src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
                        Github
                    </a>
                </li>
                <li>
                    <a href="#" class="social-link">
                        <img class="picture-circle footer-picture"
                            src="https://cdn.blog.st-hatena.com/images/common/logo-icon.svg">
                        Hatena
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>


<div class="modal modal-result">
    <div class="tooltip-wrapper">
        <div class="modal-header header-result">
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body result-body">
            <ul id="modal-list-id" class="modal-list result">
            </ul>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'yssync/index.js' %}"></script>

</body>

</html>