@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: white;
    font-family: Poppins, sans-serif;
    color: #2e2e2e;
    min-height: 100vh;
  }

  .full-height-grow {
      display: flex;
      flex-direction: column;
  }

  .logo-file, .burger-menu, .brand-logo-name{
    margin: 1rem;
    cursor: pointer;
  }
  
  .brand-logo{
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
  }

  .main-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a1a1a1;
  }

  .main-header {
    position: sticky;
    height: 55px;
    background-color: white;
    top: 0;
    z-index: 1
  }

  .left-header, .right-header {
    display: flex;
    align-items: center;
  }

  .picture-circle{
    border-radius: 50%;
  }

  .app-body-container{
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
  }

  .app-body-menu-container{
    /*flex-grow: 1;*/
    position: sticky;
    align-self: flex-start;
    top: 55px;
    min-height: 90vh;
    /*width: 400px;*/
}

.app-body-playlists-container{
    background-color: rgba(245, 237, 237, 0.76);
    /*flex-grow: 4;*/
    flex-grow: 3;
}

.app-body-videos-container{
    background-color: #4d4d4d;
    /*flex-grow: 2;*/
    flex-grow: 1;
}

.app-body-menu-list {
  padding: 15px 0px 15px 0px ;
  border-bottom: 1px solid #a1a1a1;
  width: 350px;
  display: block;
}

.app-body-menu-list-shrink {
  padding: 15px 0px 15px 0px ;
  border-bottom: 1px solid #a1a1a1;
  width: 70px;
  display: block;
}

.menu-hidden {
  display: none;
}

.main-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
  }

.app-body-menu-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*min-width: 300px;*/
}


.item-hover {
    padding: 8px 0px 8px 0px;
}

.app-menu-item-image {
    margin: 5px 20px 5px 20px;
}
 
.hidden-item {
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

  input[type=text] {
    width: 80%;
    padding: 8px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  input[type=text]:focus {
    border: 1px solid red;
  }

  .button-item {
    color: white;
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    padding: 6px 12px 6px 12px;
    font-family: inherit;
  }

  .url-append-button {
    border-radius: 7px;
    margin: 0px 0px 11px 5px;
  }

  .button-sync {
    border-radius: 7px 7px 7px 7px;
    width: 30%;
  }

  .button-input:hover {
    background: rgb(167, 1, 1);
  }

  .user-name, .hidden-a{
      margin: 0px 20px;
  }

 .selected  {
    background:#f7f1f1;
}

 .item-hover:hover {
    background:#e3dcdc;
    cursor: pointer;
}

.selected:hover  {
    cursor: initial;
    background:#f7f1f1;
}

.shown {
    display: flex;
}

ul {
    list-style: none;
    padding: 0px;
}


.playlist-selected{
    color:white;
    background:#4d4d4d;
}

.playlist-item-hover:hover {
    color:white;
    background-color:#333333;
    cursor: pointer;
}

.youtube-list-item {
    height: 7em;
    margin: 0px 0px 0px 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #a1a1a1;
  }

  .youtube-list-header {
    height: 4em;
    margin: 0px 0px 0px 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #a1a1a1;

  }

  .youtube-playlist-itemlist {
    padding: 1rem;
  }

  .youtube-list-picture{
    max-width: 12rem;
  }

  .youtube-video-item {
    height: 6em;
    margin: 0px 1rem 0px 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #a1a1a1;
  }

  .youtube-video-itemlist {
    padding: 1rem;
    color:white;
    max-width: 300px;
  }

  .youtube-video-picture{
    max-width: 10rem;
  }
  
  .checkbox-listitem, .ignore-button-listitem {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  input[type=checkbox] {
    vertical-align: middle;
    float: right;
    transform: scale(1.2);
  }

  .checkbox-listitem input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
  }
  
  .checkbox-listitem label{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }
  
  .checkbox-listitem label::before{
    content: '';
    width: 1.5em;
    height: 1.5em;
    border-radius: 5px;
    margin-right: 2em;
    border: 2px solid #7d7d7d;
  }

  .checkbox-listitem label:hover::before,
.checkbox-listitem input[type="checkbox"]:hover + label::before {
border-color: red;
transition: border-color 400ms ease-in-out;
}

.checkbox-listitem input[type="checkbox"]:checked + label::before {
  border-color: red;
  color: red;
  content: '\002714';
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-menu-3 {
  height:55px; 
  background-color: black;
  bottom: 0;
  left: 0;
  right: 0;
 }


 .sync-button-footer {
  height: 70px; 
  background-color: white;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #a1a1a1;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .playlist-hidden{
    display: none;
  }

  .main-footer .container {
    display: flex;
    justify-content: space-between;
  }

 .footer-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .social-link img {
    margin-right: .25rem;
    }

    .footer-picture{
      height: 2em;
      width: auto;
    }


   .main-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
    }

 .footer-nav ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
    }


  .footer-nav a {
      color: inherit;
      text-decoration: none;
      padding: 1rem;
    }
    
   .footer-nav a:hover{
      color: #5d516e;
    }
    
    .main-footer {
      background-color: black;
      font-weight: bold;
    }
    
    .main-footer .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0;
    }

    .social-link{
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: inherit;
      text-decoration: none;
    }

    .button-input {
      background: red;
    }

    .dark-screen{
      background-color: rgba(0, 0, 0, 0.623);
      height: 100vh;
      width: 100%;
      position: fixed;
    }

    .loading-item {
      height: 90px;
      width: 90px;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .sync-label{
      padding: 100px 0px 0px 0px;
      font-weight: bold;
      color:white;
      width: 200px;
      text-align: center;
    }

    .modal {     
      position: fixed;
      top: 77%;
      left: 85%;
      transform: translate(-50%, -50%) scale(0);
      transition: 200ms ease-in-out;
      border-radius: 7px;
      z-index: 10;
      background-color: white;
      width: 25%;
      height: 200px;
      max-width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      overflow: hidden;
    }

    .modal.active {
      transform: translate(-50%, -50%) scale(1);
    }

    .modal .modal-header{
      background-color:black;
      height: 40px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .modal-body ul{
      overflow: auto;
      height: 150px;
      padding: 0px 20px 10px 20px;
      margin: 0px;
    }

    .modal-list li {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid rgb(160, 160, 160);
      padding: 10px 0px;
    }

    .modal-list li div{
      padding: 0px 10px;
    }

    .completed{
      color: green;
      display: inline;
    }

    .completed::after{
      content: "Completed"
    }

    .no-songs-found:after{
      color:red;
      content:"No songs found"
    }

    .no-changes-applied:after{
      color:rgb(62, 66, 85);
      content:"No changes applied"
    }

    .modal-header .close-button{
      color:white;
      cursor: pointer;
      border:none;
      outline:none;
      background: none;
      font-size: 1.25rem;
      font-weight: bold;
      margin: 0px 3px;
    }

    .tooltip-bottom {
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid red;
      position: absolute;
      left: 50%;
      transform: translate(-50%) scale(1);
    }

    .tooltip-body{
      background-color: red;
      width:100%;
      height:50px;
      border-radius: 5px 5px 5px 5px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      color:white;
      padding: 15px;
    }

    .failed-info{
      position: absolute;
      top: -80px;
      left: 50%;
      transform: translate(-50%) scale(1);
      width: 80%;
      opacity: 0;
      transition: 0.3s;
    }

    .tooltip-wrapper{
      position: relative;
    }

    .sync-info {
      position: relative;
      animation: mymove 10s infinite;
      position: absolute;
    }
    
    .wait-info {
      position: relative;
      animation: mymove2 10s infinite;
      position: absolute;
    }
    
    @keyframes mymove {
       0%   {opacity: 0;}
       25%  {opacity: 0;}
      50%  {opacity: 1;}
      75%  {opacity: 0;}
      100% {opacity: 0;}
    }
    
    @keyframes mymove2 {
       0%   {opacity: 1;}
       25%  {opacity: 0;}
      50%  {opacity: 0;}
      75%  {opacity: 0;}
      100% {opacity: 1;}
    }

    .youtube_videos_navigation_section{
      height: 50px;
      width: 100%;
      background-color: rgb(46, 46, 46);
      border-bottom: 1px solid rgb(148, 148, 148);
      box-shadow:10px 10px 10px 10px rgb(61, 61, 61);
    }

    .youtube_videos_navigation_bar{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .youtube_videos_navigation_bar div{
      color:rgb(85, 85, 85);
      font-weight: bold;
      font-size: 2rem;
      margin: 0px 10px;
      padding: 0px 10px;
      user-select: none;
    }

    .youtube_videos_navigation_bar div:hover.active-arrow{
      background-color: rgb(27, 27, 27);
      cursor: pointer;
    }

    div.active-arrow{
      color:white;
    }

    .loading-videos-icon{
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }

    .loading-dots{
      font-size: 4rem;
      margin: 0px 10px;
      padding: 0px 0px 25px 0px;
    }

    .loading-dots-1{
      animation: vanish1 2s infinite;
    }

    .loading-dots-2{
      animation: vanish2 2s infinite;
    }

    .loading-dots-3{
      animation: vanish3 2s infinite;
    }

    @keyframes vanish1 {
      0% { opacity: 1; }
      33% { opacity: 0; }
      66% { opacity: 0; }
      100% { opacity: 1; }
    }

    @keyframes vanish2 {
      0% { opacity: 0; }
      33% { opacity: 1; }
      66% { opacity: 0; }
      100% { opacity: 0; }
    }

    @keyframes vanish3 {
      0% { opacity: 0; }
      33% { opacity: 0; }
      66% { opacity: 1; }
      100% { opacity: 0; }
    }

    .itemlist-title{
      max-height: 50px;
      overflow:hidden;
    }

    .ignore-button-item{
      background:rgb(46, 46, 46);
      color:white;
      font-weight: 100;
      font-size: 1em;
      font-family: inherit;
      border:none;
      border-radius: 5px;
      padding: 10px 20px;
    }

    .ignore-button-item:hover{
      background:rgb(255, 0, 0);
      cursor: pointer;
      color:rgb(37, 37, 37);
      box-shadow:0px 3px 3px #272727;
    }
























    











































    .lds-roller {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-roller div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;
    }
    .lds-roller div:after {
      content: " ";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #fff;
      margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
      animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
      top: 63px;
      left: 63px;
    }
    .lds-roller div:nth-child(2) {
      animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
      top: 68px;
      left: 56px;
    }
    .lds-roller div:nth-child(3) {
      animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
      top: 71px;
      left: 48px;
    }
    .lds-roller div:nth-child(4) {
      animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
      top: 72px;
      left: 40px;
    }
    .lds-roller div:nth-child(5) {
      animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
      top: 71px;
      left: 32px;
    }
    .lds-roller div:nth-child(6) {
      animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
      top: 68px;
      left: 24px;
    }
    .lds-roller div:nth-child(7) {
      animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
      top: 63px;
      left: 17px;
    }
    .lds-roller div:nth-child(8) {
      animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
      top: 56px;
      left: 12px;
    }
    @keyframes lds-roller {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    